.key {
  display: inline-block;
  background-color: lightblue;
  font-family: Courier New;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.description {
  font-family: "Roboto";
  text-align: left;
  margin-right: 30px;
}

#page {
  width:770px;
}
#help_div{
  text-align:center;
  box-shadow:0px 0px 5px gray;
}

#inventory{
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  width:768px;
}

canvas {
  border-radius: 5px;
}

.inventoryKey {
  font-family: "Roboto";
  display: inline-block;
  font-weight: bold;
}

.inventoryValue {
  font-family: Courier New;
  display: inline-block;
  width: 45px;
  background-color: mediumseagreen;
  color:white;
  margin-right: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding:5px;
}
